ul.form {
    width: 100%;
}
ul.form li.form {
    width: 49%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

ul.form li.form > * {
    width: 100%;
}

ul.none {
    list-style-type :none
}